@use "@picocss/pico/scss/pico" with (
  $theme-color: "lime"
);
@use "@picocss/pico/scss/colors" as *;
@forward "./form";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter Variable", sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }

  footer,
  main {
    padding-block: 1rem;
  }
}

main:has(.center) {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.red {
  color: #{$red-500};
  border-color: #{$red-500};

  &:focus-visible,
  &:focus {
    box-shadow: 0 0 8px #{$red-600};
  }
}
